#root {
  margin: 0 auto;
}
* {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html, body, #root {
  height: 100%;
}
iframe, #videoContainer > * {
  width: 100%;
  height: 100%;
}
img, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.delay-1 { animation-delay: .1s; }
.delay-2 { animation-delay: .2s; }
.delay-3 { animation-delay: .3s; }
.delay-4 { animation-delay: .4s; }
.delay-5 { animation-delay: .5s; }
.delay-6 { animation-delay: .6s; }
.delay-7 { animation-delay: .7s; }
.delay-8 { animation-delay: .8s; }
.delay-9 { animation-delay: .9s; }

.fade-in {
  animation: fadein 1s ease;
  animation-fill-mode: both;
}
@keyframes fadein {
  0% {
    opacity: 0;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.fade-in-out {
  animation: fadeinoutlight 3s ease-in-out;
  animation-fill-mode: both;
}
.fade-in-out:is(.dark *) {
  animation: fadeinoutdark 3s ease-in-out;
  animation-fill-mode: both;
}
@keyframes fadeinoutdark {
  0% {
    opacity: 0;
    scale: .9;
    color: rgb(63 63 70);
  }
  33% {
    opacity: 1;
    scale: 1;
    color: rgb(228 228 231);
  }
  66% {
    opacity: 1;
    scale: 1;
    color: rgb(228 228 231);
  }
  100% {
    opacity: 0;
    scale: .9;
    color: rgb(63 63 70);
    rotate: 180deg;
  }
}
@keyframes fadeinoutlight {
  0% {
    opacity: 0;
    scale: .9;
    color: #d4d4d8;
  }
  33% {
    opacity: 1;
    scale: 1;
    color: #27272a;
  }
  66% {
    opacity: 1;
    scale: 1;
    color: #27272a;
  }
  100% {
    opacity: 0;
    scale: .9;
    color: #d4d4d8;
    rotate: 180deg;
  }
}

.place {
  animation: placemark .3s ease;
  animation-fill-mode: both;
}
@keyframes placemark {
  0% {
    opacity: 0;
    scale: 1.4;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.become-transparent {
  animation: become-transparent-light .3s ease-in-out;
  animation-fill-mode: both;
}
.become-transparent:is(.dark *) {
  animation: become-transparent-dark .3s ease-in-out;
  animation-fill-mode: both;
}
@keyframes become-transparent-light {
  0% { color: #27272a; }
  100% { color: #d4d4d8; }
}
@keyframes become-transparent-dark {
  0% { color: rgb(228 228 231); }
  100% { color: rgb(63 63 70); }
}